{% extends 'base.html.twig' %}

{% block title %}Nos Voitures{% endblock %}

{% block body %}

 <!-- ***** banner ***** -->
    <section class="section section-bg" id="call-to-action" style="background-image: url('{{ asset('images/logo-banner/banner_voitures.png') }}')">
    <img
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <br>
                        <br>
                        <h2>nos <em>Voitures</em></h2>
                        <p>Voici toutes nos voitures en locations</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** banner ***** -->

   <!-- ***** Filtre ***** -->
        <section class="section" id="trainers">
            <div class="container">
                <br>
                <br>
                <div class="contact-form">
                    <form action="{{ path('app_voitures') }}" method="get" id="contact">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Marque:</label>
                                    <select name="marque">
                                        <option value="">-- Toutes --</option>
                                        {% for marque in marques %}
                                            <option value="{{ marque["marque"] }}">{{ marque["marque"] }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Type:</label>
                                    <select name="type">
                                        <option value="">-- Tous --</option>
                                        {% for type in types %}
                                            <option value="{{ type.id }}">{{ type.type }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4 offset-sm-4">
                                <div class="main-button text-center">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    <!-- ***** Filtre ***** -->


<!-- ***** Nos Voitures ***** -->
<section class="section" id="trainers">
    <div class="container">
        <div class="col-lg-12 offset-lg-3 mx-auto">
            <div class="section-heading">
                <h2>nos <em>voitures</em></h2>
                <p>Voici nos voitures disponibles en location</p>
            </div>
        </div>
        <div class="row">
            {% for voiture in voitures %}
                <div class="col-lg-4 mx-auto">
                    <div class="trainer-item">
                        <div class="image-thumb">
                            {% if voiture.imageVoitures|length > 0 %}
                               
                                {{ dump(voiture.imageVoitures[0].url) }}
                                <img src="{{ asset( voiture.imageVoitures[0].url ?? "not found" ) }}" alt="{{ voiture.marque }} {{ voiture.modele }}">
                            {% else %}
                                
                                {{ dump('Image par défaut') }}
                                <img src="{{ asset('assets/images/logo-banner/banner_voitures.png') }}" alt="Image par défaut">
                            {% endif %}
                        </div>
                        <div class="down-content">
                            <h4>{{ voiture.marque }} {{ voiture.modele }}</h4>
                            <p>
                                <i class="fa fa-cog"></i> {{ voiture.couleur}}
                                <i class="fa fa-euro"></i> {{ voiture.type}}
                            </p>
                            <ul class="social-icons">
                                <li><a href="{{ path('app_details', {'id': voiture.id}) }}">+ Voir la voiture</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
    </div>
</section>
<!-- ***** Nos Voitures ***** -->

    <!-- ***** Une questions ? ***** -->
    <section class="section section-bg" id="call-to-action" style="background-image: url(assets/images/voitures/banner-image-1-1920x500.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <h2>une  <em>question ?</em></h2>
                        <p>Vous souhaitez obtenir une information complémentaire sur nos gammes de produits et les services proposés ? <br> Le Service Commercial So Location vous recontactera rapidement et répondra à toutes vos questions. </p>
                        <div class="button_principale">
                            <a href="index.php?p=page-contact.php">Contactez-nous</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
