{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    
    
    
    
    <section class="section section-bg" id="call-to-action" style="background-image: url(assets/images/voitures/banner-image-1-1920x500.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        {% if app.user %}
                                <div class="mb-3">
                                    Vous êtes connecté en tant que {{ app.user.username }}, <a class="text-danger" href="{{ path('app_logout') }}">Déconnexion</a>
                                </div>
                                <h2>Bienvenue <em>{{ app.user.username }}</em></h2>
                                <p>Vous êtes déjà connecté et prêt à profiter de nos services exclusifs.</p>
                                <a class="btn" style="background-color: #ed563b; color: white;" href="{{ path('app_voitures') }}">Nos voitures</a>
                        {% else %} 
                        <br>
                        <br>
                        <h2>Rejoignez-nous <em>Inscrivez-vous</em></h2>
                        <p>Créez votre compte dès maintenant pour profiter de nos services et découvrir nos offres exclusives.</p>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    
                            

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
        {% if app.user is null %}
            <div class="form-bg p-4 p-md-5 rounded shadow">
                <h2 class="mb-4"> <em>Inscription</em> </h2>
                {{ form_start(registrationForm, {'attr': {'class': 'needs-validation', 'novalidate': true}}) }}
                    <div class="mb-3">
                        {{ form_row(registrationForm.email, {
                            'label': 'Adresse Email',
                            'attr': {'class': 'form-control', 'placeholder': 'Entrez votre email'}
                        }) }}
                    </div>
                    <div class="mb-3">
                        <label for="username">Nom d'utilisateur</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Choisissez un nom d'utilisateur" required>
                        <div class="invalid-feedback">
                            Veuillez renseigner un nom d'utilisateur.
                        </div>
                    </div>
                    <div class="mb-3">
                        {{ form_row(registrationForm.plainPassword.first, {
                            'label': 'Mot de passe',
                            'attr': {'class': 'form-control', 'placeholder': 'Créez un mot de passe'}
                        }) }}
                    </div>
                    <div class="mb-3">
                        {{ form_row(registrationForm.plainPassword.second, {
                            'label': 'Confirmez le mot de passe',
                            'attr': {'class': 'form-control', 'placeholder': 'Confirmez le mot de passe'}
                        }) }}
                    </div>
                    <div class="mb-4">
                        {{ form_row(registrationForm.agreeTerms) }}
                    </div>
                    <button type="submit" style="background-color: #ed563b; color: white;" class="btn btn-primary btn-block">S'inscrire</button>
                {{ form_end(registrationForm) }}
            </div>
        {% endif %}
        </div>
    </div>
</div>











{% endblock %}
